@import "tailwindcss";

@theme {

  /* Breakpoints */
  --breakpoint-*: initial;
  --breakpoint-xs: 320px;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;

    /* Colors */  
  --color-primary: #FFFFFF;

    /* Font */
  --font-main: "Geist", sans-serif;
  --font-display: "Geist Mono", monospace; 
  --font-secondary: "Manrope", sans-serif;

}

:root {
  /* font-family: Inter, sans-serif;   */
  background-color: var(--color-primary);
  scroll-behavior: smooth;
}